section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

section button{
  background-color: rgb(228, 224, 224);
  color: blue;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

section button img{
  width: 20px
}

.displayNone{
  display: none;
}

.display{
  display: block;
}